.task {
    width: 50%;
    margin: 0 auto;
    background: #cdcdcd;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header {
    height: 150px;
}
.task h2 {
    margin-top: 10px;
    text-align: center;
}

.task input {
    width: 100%;
}

.task .btn {
    display: block;
    margin: 0 auto;
}

.task .btn input {
    padding: 7px 40px;
    width: auto;
    border-radius: 10px;
    background: brown;
    color: white;
}

.task .btn input:hover {
    background: #a54646;
}

.task .btn input:active {
    background: #6b2323;
}
