body {
background: #fcfcfc5e
}

header {
position: relative;
height: 90px;
margin-bottom: 10px;
padding-top: 25px;
font-size: 16px;
border-bottom: 2px solid #2b3158;
}

body a {
color: #111b8c
}

a:hover {
text-decoration: none;
color: #111b8cab;
}

.container {
width: 1190px;
}

.menu-container {
display: inline-block
}

h1 {
font-size: 20px;
}

h2 {
font-size: 18px;
}

.login-container {
display: inline-block;
float: right;
}

.login-container a {
margin-right: 10px;
}

.task {
width: 50%;
margin: 20px auto;
background: #cdcdcd82;
padding: 5px 15px;
border-radius: 3px;
box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.task h2 {
margin-top: 10px;
text-align: center;
}

.task input {
width: 100%;
}

input.btn {
padding: 7px 35px;
width: auto !important;
border-radius: 3px;
background: #4772bd;
color: white;
margin: 0 auto;
display: block;
min-width: 130px;
}

.btn:hover {
background: #337ab7bd;
color: white;
}

.btn:active {
background: #6b2323;
}

.task #priority {
margin-bottom: 10px;
padding: 4px 10px;
}

.task-list {
background: #eaeaea;
padding: 10px 20px;
margin: 9px;
width: 32%;
display: inline-block;
border-radius: 5px;
}

.task-list:nth-child(2) {
margin-left: 0;
}

.task-list:last-child {
margin-right: 0;
}

.task-list p:nth-child(0) {
}

.task-list p:nth-child(1) {
float: left;
width: 70%;
padding-left: 0px;
font-weight: 600;
}

.task-list p:nth-child(2) {
text-align: right;
}

.task-new {
display: block;
text-align: right;
margin-bottom: 10px;
font-size: 16px;
}

footer {
position: absolute;
bottom: 0;
display: block;
width: 100%;
border-top: 2px solid #2b3158;
height: 50px;
padding: 14px 0;
}

footer p {
text-align: right;
padding-right: 30px;
}


.task input.input-validation-error {
border: 1px solid red !important;
}

.task span.field-validation-error {
color: #f90202
}

.task input, .task select {
border-width: 1px;
padding: 5px 10px;
margin: 2px 0 5px;
}

.task select {
width: 100%;
}

.task .btn {
margin: 5px auto;
}

.form-base {
margin: 20px 0;
}

.form-base input, .form-base select {
width: 35%;
border-width: 1px;
padding: 5px 10px;
margin: 5px 0 10px;
}

.form-base input:focus {
}

.form-base label, .task label {
font-weight: normal;
}

.form-base.login div:nth-child(3) input {
width: auto;
margin-left: 10px;
}
