
@{
    ViewData["Title"] = "TaskSearch";
}

@model IEnumerable<TaskManager.BLL.DTO.TaskDTO>

<div id="searchresults">
    @if (Model.Count() == 0)
    {
        <h4>Карточки не найдены </h4>
    }
    else
    {
        <h4>Все карточки по поиску: </h4>

        @foreach (var item in Model)
        {
            <a asp-controller="Task" asp-action="Details" asp-route-id="@item.Id"><p>@item.Title</p></a>
        }
    }

</div>